{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</head>
<body>
    {{ template "contact_form" .Form }}
    <hr/>
    {{ template "contacts_list" .Data }}
    <script>
        document.body.addEventListener('htmx:beforeSwap', function(evt) {
            if (evt.detail.xhr.status === 422) {
                evt.detail.shouldSwap = true;
                evt.detail.isError = false;
            }
        })
    </script>
    
</body>
</html>
{{ end }}

{{ block "contact_form" . }}
<form hx-swap="outerHTML" hx-post="/contacts">
    Name: <input type="text" name="name" {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} />
    Email: <input type="email" name="email" {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} />
    {{ if .Errors.email }}
        <div>{{ .Errors.email }}</div>
    {{ end }}
    <button type="submit">Create Contact</button>
</form>
{{ end }}

{{ block "contacts_list" . }}
    <div id="contacts" style="display: flex; flex-direction: column;">
        {{ range .Contacts }}
            {{ template "contact" . }}
        {{ end }}
    </div>
{{ end }}

{{ block "contact" . }}
    <div>
        Name: <span>{{ .Name }}</span>
        Email: <span>{{ .Email }}</span>
    </div>
{{ end }}

{{ block "oob-contact" . }}
    <div id="contacts" hx-swap-oob="afterbegin">
        {{ template "contact" . }}
    </div>
{{ end }}